.App {
   font-family: "Open Sans", sans-serif;
   color: #444444;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#search-input {
   margin: 20px 0;
   border: solid 2px lightgray;
   border-radius: 3px;
   font-size: 1rem;
   width: 40%;
   padding: 5px;
}

#search-input:focus {
   border-color: rgb(244, 119, 53);
   outline: none;
}

.tile {
   margin-top: 20px;
   width: 70%;
   text-align: left;
   box-shadow: 0 4px 8px 0 rgba(244, 120, 53, 0.3);
   transition: 0.3s;
   padding: 15px;
   background-color: white;
   max-width: 970px;
}

.tile:focus {
   box-shadow: 0 4px 8px 0 rgb(244, 120, 53);
   outline: none;
}

.section-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.section {
   padding: 0 30px;
   border-right: solid 1px rgba(244, 119, 53, 0.3);
   /* min-width: 225px; */
}

.center {
   display: flex;
   /* align-items: center; */
   flex-direction: column;
   justify-content: center;
}

.section:last-of-type {
   border-right: none;
}

.li-group {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.li-group img {
   height: 1.2rem;
   margin-right: 5px;
}

ul {
   padding-left: 20px;
}

li {
   margin-bottom: 5px;
}

p {
   margin-bottom: 8px;
   margin-top: 0px;
}

.detail {
   margin-bottom: 8px;
}

.italic {
   font-style: italic;
}

h1,
h2 {
   margin-top: 0px;
   margin-bottom: 10px;
   color: rgb(244, 119, 53);
}

.map {
   border: 0;
}

/* Media queries */

@media only screen and (min-width: 300px) and (max-width: 580px) {
   .tile {
      overflow-y: scroll;
      width: 80%;
   }

   .section {
      padding: 0 20px;
      width: 80%;
      border: none;
   }

   .section-container {
      flex-wrap: nowrap;
      flex-direction: column;
   }
}

@media only screen and (min-width: 300px) and (max-width: 410px) {
   .tile {
      height: calc(100vh / 4);
   }

   #search-input {
      width: 80%;
   }

   h1 {
      font-size: 1.5rem;
   }

   h2 {
      font-size: 1.2rem;
   }

   .detail,
   p {
      font-size: 0.9rem;
   }
}

@media only screen and (min-width: 411px) and (max-width: 460px) {
   .tile {
      height: calc(100vh / 3);
   }

   #search-input {
      width: 70%;
   }
}

@media only screen and (min-width: 461px) and (max-width: 580px) {
   .tile {
      height: calc(100vh / 3);
      overflow-y: scroll;
   }

   #search-input {
      width: 70%;
   }
}

@media only screen and (min-width: 581px) and (max-width: 1090px) {
   .tile {
      width: 90%;
   }
}

@media only screen and (min-width: 581px) and (max-width: 756px) {
   .section-container {
      flex-wrap: wrap;
   }

   .section {
      padding: 0 20px;
      width: 40%;
      border: none;
   }
}

@media only screen and (min-width: 757px) and (max-width: 900px) {
   .section-container {
      flex-wrap: wrap;
   }

   .section {
      padding: 0 20px;
      width: 44%;
      border: none;
   }
}

@media only screen and (min-width: 901px) and (max-width: 950px) {
   .section {
      padding: 0 20px;
   }
}

@media only screen and (min-width: 1091px) and (max-width: 1400px) {
   .tile {
      width: 80%;
   }
}
